appdirs==1.4.4
asgiref==3.8.1
black==22.3.0
click==8.1.7
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
isort==5.13.2
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.1
python-dotenv==1.0.1
pytz==2024.1
regex==2024.4.28
sqlparse==0.5.0
toml==0.10.2
